In [1]:
import pandas as pd

In [2]:
df = pd.read_parquet('transaction_fraud_data.parquet')

In [3]:
df.head()

,transaction_id,customer_id,card_number,timestamp,vendor_category,vendor_type,vendor,amount,currency,country,...,is_card_present,device,channel,device_fingerprint,ip_address,is_outside_home_country,is_high_risk_vendor,is_weekend,last_hour_activity,is_fraud
0,TX_a0ad2a2a,CUST_72886,6646734767813109,2024-09-30 00:00:01.034820,Restaurant,fast_food,Taco Bell,294.87,GBP,UK,...,False,iOS App,mobile,e8e6160445c935fd0001501e4cbac8bc,197.153.60.199,False,False,False,"{'num_transactions': 1197, 'total_amount': 334...",False
1,TX_3599c101,CUST_70474,376800864692727,2024-09-30 00:00:01.764464,Entertainment,gaming,Steam,3368.97,BRL,Brazil,...,False,Edge,web,a73043a57091e775af37f252b3a32af9,208.123.221.203,True,True,False,"{'num_transactions': 509, 'total_amount': 2011...",True
2,TX_a9461c6d,CUST_10715,5251909460951913,2024-09-30 00:00:02.273762,Grocery,physical,Whole Foods,102582.38,JPY,Japan,...,False,Firefox,web,218864e94ceaa41577d216b149722261,10.194.159.204,False,False,False,"{'num_transactions': 332, 'total_amount': 3916...",False
3,TX_7be21fc4,CUST_16193,376079286931183,2024-09-30 00:00:02.297466,Gas,major,Exxon,630.60,AUD,Australia,...,False,iOS App,mobile,70423fa3a1e74d01203cf93b51b9631d,17.230.177.225,False,False,False,"{'num_transactions': 764, 'total_amount': 2201...",False
4,TX_150f490b,CUST_87572,6172948052178810,2024-09-30 00:00:02.544063,Healthcare,medical,Medical Center,724949.27,NGN,Nigeria,...,False,Chrome,web,9880776c7b6038f2af86bd4e18a1b1a4,136.241.219.151,True,False,False,"{'num_transactions': 218, 'total_amount': 4827...",True

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7483766 entries, 0 to 7483765
Data columns (total 23 columns):
 #   Column                   Dtype
---  ------                   -----
 0   transaction_id           object
 1   customer_id              object
 2   card_number              int64
 3   timestamp                datetime64[us]
 4   vendor_category          object
 5   vendor_type              object
 6   vendor                   object
 7   amount                   float64
 8   currency                 object
 9   country                  object
 10  city                     object
 11  city_size                object
 12  card_type                object
 13  is_card_present          bool
 14  device                   object
 15  channel                  object
 16  device_fingerprint       object
 17  ip_address               object
 18  is_outside_home_country  bool
 19  is_high_risk_vendor      bool
 20  is_weekend               bool
 21  last_hour_activity       object
 22  is_fraud                 bool
dtypes: bool(5), datetime64[us](1), float64(1), int64(1), object(15)
memory usage: 1.0+ GB

In [5]:
df.describe()

        card_number                   timestamp        amount
count  7.483766e+06                     7483766  7.483766e+06
mean   4.222100e+15  2024-10-15 12:36:38.052469  4.792468e+04
min    3.700086e+14  2024-09-30 00:00:01.034820  1.000000e-02
25%    4.004400e+15  2024-10-07 18:08:27.325326  3.635300e+02
50%    5.010745e+15  2024-10-15 12:46:31.739295  1.177450e+03
75%    5.999914e+15  2024-10-23 07:37:00.969509  2.242953e+04
max    6.999728e+15  2024-10-30 23:59:59.101885  6.253153e+06
std    2.341170e+15                         NaN  1.775562e+05

В каких топ-5 странах зафиксировано больше всего мошеннических транзакций?

In [6]:
fraud_ratio = df['is_fraud'].mean()
fraud_ratio

np.float64(0.19972818498066347)

In [7]:
top_counties = df[df['is_fraud']==1]['country'].value_counts()
top_counties.head()

country
Russia       299425
Mexico       298841
Brazil       298629
Nigeria      298600
Australia     37652
Name: count, dtype: int64

Cколько транзакций в среднем совершает один клиент за час?

In [8]:
df['hour'] = df['timestamp'].dt.floor('h')
df.tail()

,transaction_id,customer_id,card_number,timestamp,vendor_category,vendor_type,vendor,amount,currency,country,...,device,channel,device_fingerprint,ip_address,is_outside_home_country,is_high_risk_vendor,is_weekend,last_hour_activity,is_fraud,hour
7483761,TX_58a762fa,CUST_11344,377055034743699,2024-10-30 23:59:58.926575,Retail,online,AliExpress,887.32,SGD,Singapore,...,Safari,web,2e37bb086e754bfaf2ec3806dcac8d98,248.8.111.152,False,False,False,"{'num_transactions': 1, 'total_amount': 1521.7...",False,2024-10-30 23:00:00
7483762,TX_dabcf671,CUST_38961,373625915641065,2024-10-30 23:59:58.950801,Grocery,physical,Kroger,356.06,EUR,France,...,Chrome,web,459c67dbfbb15019df8088fc0f2ffe1d,224.123.137.90,False,False,False,"{'num_transactions': 0, 'total_amount': 356.06...",False,2024-10-30 23:00:00
7483763,TX_ab567eb4,CUST_75576,6702342842796660,2024-10-30 23:59:58.972155,Grocery,physical,Kroger,391.96,SGD,Singapore,...,Safari,web,337d36a8f5e811564a1dd3c255db01dd,31.196.9.234,False,False,False,"{'num_transactions': 0, 'total_amount': 391.96...",False,2024-10-30 23:00:00
7483764,TX_5ae61846,CUST_82508,374615717295581,2024-10-30 23:59:58.996608,Retail,online,eBay,601.71,USD,USA,...,Firefox,web,52874c17f4ab0846fac1aed0c66e8551,188.74.107.8,False,False,False,"{'num_transactions': 2, 'total_amount': 1474.5...",False,2024-10-30 23:00:00
7483765,TX_54fccca9,CUST_20139,373017396639208,2024-10-30 23:59:59.101885,Grocery,online,Walmart Grocery,40668.06,JPY,Japan,...,Chrome,web,e9e0e0db1c95f5f44613492b2f931fac,205.233.99.48,False,False,False,"{'num_transactions': 0, 'total_amount': 40668....",False,2024-10-30 23:00:00

In [9]:
trans_per_hour=df.groupby(['customer_id', 'hour']).size()
trans_per_hour

customer_id  hour
CUST_10000   2024-09-30 00:00:00    1
             2024-09-30 01:00:00    1
             2024-09-30 04:00:00    3
             2024-09-30 05:00:00    2
             2024-09-30 07:00:00    2
                                   ..
CUST_99971   2024-10-30 19:00:00    8
             2024-10-30 20:00:00    4
             2024-10-30 21:00:00    2
             2024-10-30 22:00:00    3
             2024-10-30 23:00:00    5
Length: 3051141, dtype: int64

In [10]:
avr=trans_per_hour.mean()
avr

np.float64(2.4527761909397174)

Какова доля мошенничества среди транзакций у продавцов с высоким риском (is_high_risk_vendor=True)?

In [11]:
high_risk = df[df['is_high_risk_vendor'] == True]
high_risk

,transaction_id,customer_id,card_number,timestamp,vendor_category,vendor_type,vendor,amount,currency,country,...,device,channel,device_fingerprint,ip_address,is_outside_home_country,is_high_risk_vendor,is_weekend,last_hour_activity,is_fraud,hour
1,TX_3599c101,CUST_70474,376800864692727,2024-09-30 00:00:01.764464,Entertainment,gaming,Steam,3368.97,BRL,Brazil,...,Edge,web,a73043a57091e775af37f252b3a32af9,208.123.221.203,True,True,False,"{'num_transactions': 509, 'total_amount': 2011...",True,2024-09-30 00:00:00
7,TX_eb55c2be,CUST_10150,5927166525373625,2024-09-30 00:00:06.295911,Travel,hotels,Westin,828.33,EUR,Germany,...,Edge,web,170a1d12ba71772366076fd302fe29ca,122.115.119.11,False,True,False,"{'num_transactions': 352, 'total_amount': 8690...",False,2024-09-30 00:00:00
14,TX_4088083b,CUST_79886,5143965701177744,2024-09-30 00:00:12.862261,Entertainment,events,StubHub,659.90,EUR,Germany,...,Firefox,web,e9400dc20b70380b4b67cdde313c6d2b,130.147.254.102,True,True,False,"{'num_transactions': 24, 'total_amount': 72203...",False,2024-09-30 00:00:00
16,TX_ff845053,CUST_81861,5540497177249905,2024-09-30 00:00:13.519027,Travel,airlines,American Airlines,1119.04,EUR,Germany,...,Safari,web,d73647bcaacd7ac013b5192ef052cbe9,169.11.184.37,False,True,False,"{'num_transactions': 235, 'total_amount': 3605...",False,2024-09-30 00:00:00
19,TX_0d3c6df5,CUST_75433,5461777822781617,2024-09-30 00:00:18.957278,Entertainment,events,Ticketmaster,371.45,EUR,Germany,...,Edge,web,0a98468e4338d76de9e82051b2b545da,226.180.224.20,False,True,False,"{'num_transactions': 110, 'total_amount': 7725...",False,2024-09-30 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7483727,TX_68b2487a,CUST_53591,6192184248118504,2024-10-30 23:59:48.393204,Entertainment,streaming,Apple Music,349.52,USD,USA,...,Edge,web,dffaf60ba9ec8029c7a06060b5a616e6,70.99.231.176,False,True,False,"{'num_transactions': 0, 'total_amount': 349.52...",False,2024-10-30 23:00:00
7483729,TX_d55a0015,CUST_81546,5414352618902708,2024-10-30 23:59:49.856665,Entertainment,gaming,Epic Games,193.66,GBP,UK,...,Firefox,web,2d5ce5c500da827959bf052f78a217a3,254.53.88.147,False,True,False,"{'num_transactions': 2, 'total_amount': 836.17...",False,2024-10-30 23:00:00
7483739,TX_cdaa33e5,CUST_92015,4192008836268964,2024-10-30 23:59:53.386658,Entertainment,streaming,Netflix,165.68,EUR,France,...,Safari,web,5138e7a42436a05b053d576a64cbf765,143.54.194.222,False,True,False,"{'num_transactions': 0, 'total_amount': 165.67...",False,2024-10-30 23:00:00
7483753,TX_e1431833,CUST_77191,379660188081388,2024-10-30 23:59:57.470364,Travel,booking,Booking.com,50825.23,BRL,Brazil,...,Safari,web,c9626059e678d8241096e2a3e8617a9e,26.236.163.126,False,True,False,"{'num_transactions': 0, 'total_amount': 50825....",True,2024-10-30 23:00:00
7483757,TX_9d940bd8,CUST_66732,373208404314054,2024-10-30 23:59:58.016291,Travel,hotels,Westin,401.33,EUR,France,...,Firefox,web,141d6e8e5b289c6764c3e065cff089aa,179.51.173.37,False,True,False,"{'num_transactions': 0, 'total_amount': 401.32...",False,2024-10-30 23:00:00

In [12]:
high_risk_fraud = high_risk['is_fraud'].mean()
high_risk_fraud

np.float64(0.19998632451602943)

В каком городе наибольшая средняя сумма транзакций?

In [13]:
no_uc = df[df['city'] != 'Unknown City']
city_max_sum_trans = no_uc.groupby('city')['amount'].mean()
city_max_sum_trans

city
Chicago         565.277374
Dallas          562.399533
Houston         564.961388
Los Angeles     563.900769
New York        568.872467
Philadelphia    563.464431
Phoenix         565.730142
San Antonio     567.921894
San Diego       565.593140
San Jose        567.263760
Name: amount, dtype: float64

In [14]:
city_max_sum_trans.idxmax()

'New York'

В каком городе выше всего средний чек по операциям, связанным с fast_food?

In [15]:
ff = no_uc[no_uc['vendor_type'] == 'fast_food']
fast_food_avr_trans = ff.groupby('city')['amount'].mean()
fast_food_avr_trans

city
Chicago         264.450281
Dallas          248.685716
Houston         246.913137
Los Angeles     255.950324
New York        263.296441
Philadelphia    243.440463
Phoenix         242.334715
San Antonio     258.169691
San Diego       254.343884
San Jose        247.892502
Name: amount, dtype: float64

In [16]:
fast_food_avr_trans.idxmax()

'Chicago'

Каково среднее для всех немошеннических операций при пересчете в доллары США?

In [ ]:
exchange_df = pd.read_parquet('historical_currency_exchange.parquet')
exchange_df.head()

,date,AUD,BRL,CAD,EUR,GBP,JPY,MXN,NGN,RUB,SGD,USD
0,2024-09-30,1.443654,5.434649,1.351196,0.895591,0.747153,142.573268,19.694724,1668.736400,94.133735,1.280156,1
1,2024-10-01,1.442917,5.444170,1.352168,0.897557,0.746956,143.831429,19.667561,1670.694524,92.898519,1.284352,1
2,2024-10-02,1.449505,5.425444,1.348063,0.903056,0.752241,143.806861,19.606748,1669.653006,94.583198,1.286983,1
3,2024-10-03,1.456279,5.442044,1.351451,0.906018,0.754584,146.916773,19.457701,1670.097873,95.655442,1.294391,1
4,2024-10-04,1.460930,5.477788,1.355260,0.906452,0.761891,146.592323,19.363467,1649.763738,94.755337,1.296800,1

In [18]:
exchange_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    31 non-null     object
 1   AUD     31 non-null     float64
 2   BRL     31 non-null     float64
 3   CAD     31 non-null     float64
 4   EUR     31 non-null     float64
 5   GBP     31 non-null     float64
 6   JPY     31 non-null     float64
 7   MXN     31 non-null     float64
 8   NGN     31 non-null     float64
 9   RUB     31 non-null     float64
 10  SGD     31 non-null     float64
 11  USD     31 non-null     int64
dtypes: float64(10), int64(1), object(1)
memory usage: 3.0+ KB

In [19]:
exchange_df['date'] = pd.to_datetime(exchange_df['date']).dt.date

In [20]:
isnt_fraud_df = df[df['is_fraud'] == False].copy()
isnt_fraud_df['date'] = isnt_fraud_df['timestamp'].dt.date

In [21]:
merged = isnt_fraud_df.merge(exchange_df, how='left', on='date')
merged

,transaction_id,customer_id,card_number,timestamp,vendor_category,vendor_type,vendor,amount,currency,country,...,BRL,CAD,EUR,GBP,JPY,MXN,NGN,RUB,SGD,USD
0,TX_a0ad2a2a,CUST_72886,6646734767813109,2024-09-30 00:00:01.034820,Restaurant,fast_food,Taco Bell,294.87,GBP,UK,...,5.434649,1.351196,0.895591,0.747153,142.573268,19.694724,1668.736400,94.133735,1.280156,1
1,TX_a9461c6d,CUST_10715,5251909460951913,2024-09-30 00:00:02.273762,Grocery,physical,Whole Foods,102582.38,JPY,Japan,...,5.434649,1.351196,0.895591,0.747153,142.573268,19.694724,1668.736400,94.133735,1.280156,1
2,TX_7be21fc4,CUST_16193,376079286931183,2024-09-30 00:00:02.297466,Gas,major,Exxon,630.60,AUD,Australia,...,5.434649,1.351196,0.895591,0.747153,142.573268,19.694724,1668.736400,94.133735,1.280156,1
3,TX_e0d7eb37,CUST_89147,371305533183152,2024-09-30 00:00:03.149440,Grocery,online,Instacart,2606.19,BRL,Brazil,...,5.434649,1.351196,0.895591,0.747153,142.573268,19.694724,1668.736400,94.133735,1.280156,1
4,TX_eb55c2be,CUST_10150,5927166525373625,2024-09-30 00:00:06.295911,Travel,hotels,Westin,828.33,EUR,Germany,...,5.434649,1.351196,0.895591,0.747153,142.573268,19.694724,1668.736400,94.133735,1.280156,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5989042,TX_58a762fa,CUST_11344,377055034743699,2024-10-30 23:59:58.926575,Retail,online,AliExpress,887.32,SGD,Singapore,...,5.761654,1.390965,0.923864,0.768083,153.160003,20.048756,1642.347156,97.501463,1.323643,1
5989043,TX_dabcf671,CUST_38961,373625915641065,2024-10-30 23:59:58.950801,Grocery,physical,Kroger,356.06,EUR,France,...,5.761654,1.390965,0.923864,0.768083,153.160003,20.048756,1642.347156,97.501463,1.323643,1
5989044,TX_ab567eb4,CUST_75576,6702342842796660,2024-10-30 23:59:58.972155,Grocery,physical,Kroger,391.96,SGD,Singapore,...,5.761654,1.390965,0.923864,0.768083,153.160003,20.048756,1642.347156,97.501463,1.323643,1
5989045,TX_5ae61846,CUST_82508,374615717295581,2024-10-30 23:59:58.996608,Retail,online,eBay,601.71,USD,USA,...,5.761654,1.390965,0.923864,0.768083,153.160003,20.048756,1642.347156,97.501463,1.323643,1
5989046,TX_54fccca9,CUST_20139,373017396639208,2024-10-30 23:59:59.101885,Grocery,online,Walmart Grocery,40668.06,JPY,Japan,...,5.761654,1.390965,0.923864,0.768083,153.160003,20.048756,1642.347156,97.501463,1.323643,1

In [24]:
def to_usd(row):
    currency = row['currency']
    amount = row['amount']
    rate = row.get(currency)
    if currency == 'USD':
        return amount
    return (amount/rate)

merged['in_usd']=merged.apply(to_usd, axis=1)
merged

,transaction_id,customer_id,card_number,timestamp,vendor_category,vendor_type,vendor,amount,currency,country,...,CAD,EUR,GBP,JPY,MXN,NGN,RUB,SGD,USD,in_usd
0,TX_a0ad2a2a,CUST_72886,6646734767813109,2024-09-30 00:00:01.034820,Restaurant,fast_food,Taco Bell,294.87,GBP,UK,...,1.351196,0.895591,0.747153,142.573268,19.694724,1668.736400,94.133735,1.280156,1,394.658011
1,TX_a9461c6d,CUST_10715,5251909460951913,2024-09-30 00:00:02.273762,Grocery,physical,Whole Foods,102582.38,JPY,Japan,...,1.351196,0.895591,0.747153,142.573268,19.694724,1668.736400,94.133735,1.280156,1,719.506409
2,TX_7be21fc4,CUST_16193,376079286931183,2024-09-30 00:00:02.297466,Gas,major,Exxon,630.60,AUD,Australia,...,1.351196,0.895591,0.747153,142.573268,19.694724,1668.736400,94.133735,1.280156,1,436.808287
3,TX_e0d7eb37,CUST_89147,371305533183152,2024-09-30 00:00:03.149440,Grocery,online,Instacart,2606.19,BRL,Brazil,...,1.351196,0.895591,0.747153,142.573268,19.694724,1668.736400,94.133735,1.280156,1,479.550778
4,TX_eb55c2be,CUST_10150,5927166525373625,2024-09-30 00:00:06.295911,Travel,hotels,Westin,828.33,EUR,Germany,...,1.351196,0.895591,0.747153,142.573268,19.694724,1668.736400,94.133735,1.280156,1,924.897854
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5989042,TX_58a762fa,CUST_11344,377055034743699,2024-10-30 23:59:58.926575,Retail,online,AliExpress,887.32,SGD,Singapore,...,1.390965,0.923864,0.768083,153.160003,20.048756,1642.347156,97.501463,1.323643,1,670.362079
5989043,TX_dabcf671,CUST_38961,373625915641065,2024-10-30 23:59:58.950801,Grocery,physical,Kroger,356.06,EUR,France,...,1.390965,0.923864,0.768083,153.160003,20.048756,1642.347156,97.501463,1.323643,1,385.402905
5989044,TX_ab567eb4,CUST_75576,6702342842796660,2024-10-30 23:59:58.972155,Grocery,physical,Kroger,391.96,SGD,Singapore,...,1.390965,0.923864,0.768083,153.160003,20.048756,1642.347156,97.501463,1.323643,1,296.122166
5989045,TX_5ae61846,CUST_82508,374615717295581,2024-10-30 23:59:58.996608,Retail,online,eBay,601.71,USD,USA,...,1.390965,0.923864,0.768083,153.160003,20.048756,1642.347156,97.501463,1.323643,1,601.710000
5989046,TX_54fccca9,CUST_20139,373017396639208,2024-10-30 23:59:59.101885,Grocery,online,Walmart Grocery,40668.06,JPY,Japan,...,1.390965,0.923864,0.768083,153.160003,20.048756,1642.347156,97.501463,1.323643,1,265.526634

In [23]:
df['currency'].value_counts()

currency
EUR    1065751
NGN     849840
BRL     804800
RUB     793730
MXN     785704
SGD     588668
GBP     538493
CAD     532632
JPY     527393
USD     500060
AUD     496695
Name: count, dtype: int64

In [27]:
avg_isnt_fraud_usd = merged['in_usd'].mean()
avg_isnt_fraud_usd

np.float64(459.7826108501773)

Каково среднеквадратичное отклонение среди всех немошеннических операций при пересчете в доллары США?

In [30]:
avg_isnt_fraud_usd_std = merged['in_usd'].std()
avg_isnt_fraud_usd_std

np.float64(417.0077334756039)

Определите, сколько клиентов демонстрируют потенциально опасное поведение: для каждого клиента возьмите медианное значение числа уникальных продавцов из показателя активности «за последний час» на момент транзакции и посчитайте, сколько клиентов строго превышают 95-ый квантиль от этого показателя.
В ответе напишите единственное целое число — количество таких клиентов.

In [34]:
df['unique_merchants'] = df['last_hour_activity'].apply(lambda x: x['unique_merchants'] if pd.notnull(x) else pd.NA)
df.head()

,transaction_id,customer_id,card_number,timestamp,vendor_category,vendor_type,vendor,amount,currency,country,...,channel,device_fingerprint,ip_address,is_outside_home_country,is_high_risk_vendor,is_weekend,last_hour_activity,is_fraud,hour,unique_merchants
0,TX_a0ad2a2a,CUST_72886,6646734767813109,2024-09-30 00:00:01.034820,Restaurant,fast_food,Taco Bell,294.87,GBP,UK,...,mobile,e8e6160445c935fd0001501e4cbac8bc,197.153.60.199,False,False,False,"{'num_transactions': 1197, 'total_amount': 334...",False,2024-09-30,105
1,TX_3599c101,CUST_70474,376800864692727,2024-09-30 00:00:01.764464,Entertainment,gaming,Steam,3368.97,BRL,Brazil,...,web,a73043a57091e775af37f252b3a32af9,208.123.221.203,True,True,False,"{'num_transactions': 509, 'total_amount': 2011...",True,2024-09-30,100
2,TX_a9461c6d,CUST_10715,5251909460951913,2024-09-30 00:00:02.273762,Grocery,physical,Whole Foods,102582.38,JPY,Japan,...,web,218864e94ceaa41577d216b149722261,10.194.159.204,False,False,False,"{'num_transactions': 332, 'total_amount': 3916...",False,2024-09-30,97
3,TX_7be21fc4,CUST_16193,376079286931183,2024-09-30 00:00:02.297466,Gas,major,Exxon,630.60,AUD,Australia,...,mobile,70423fa3a1e74d01203cf93b51b9631d,17.230.177.225,False,False,False,"{'num_transactions': 764, 'total_amount': 2201...",False,2024-09-30,105
4,TX_150f490b,CUST_87572,6172948052178810,2024-09-30 00:00:02.544063,Healthcare,medical,Medical Center,724949.27,NGN,Nigeria,...,web,9880776c7b6038f2af86bd4e18a1b1a4,136.241.219.151,True,False,False,"{'num_transactions': 218, 'total_amount': 4827...",True,2024-09-30,88

In [36]:
median_merchant_per_client = df.groupby('customer_id')['unique_merchants'].median()
median_merchant_per_client

customer_id
CUST_10000     93.0
CUST_10018     93.0
CUST_10022     95.0
CUST_10039     96.0
CUST_10102     98.0
              ...
CUST_99937     91.0
CUST_99944     95.0
CUST_99952     96.0
CUST_99957     93.0
CUST_99971    101.0
Name: unique_merchants, Length: 4869, dtype: float64

In [37]:
quantile_95 = median_merchant_per_client.quantile(0.95)
quantile_95

np.float64(100.0)

In [38]:
high_risk_customers = (median_merchant_per_client > quantile_95).sum()
high_risk_customers

np.int64(229)

Каково среднее для всех мошеннических операций при пересчете в доллары США?

In [39]:
is_fraud_df = df[df['is_fraud'] == True].copy()
is_fraud_df['date'] = is_fraud_df['timestamp'].dt.date
is_fraud_merged = is_fraud_df.merge(exchange_df, how='left', on='date')

In [40]:
def to_usd(row):
    currency = row['currency']
    amount = row['amount']
    rate = row.get(currency)
    if currency == 'USD':
        return amount
    return (amount/rate)

is_fraud_merged['in_usd']=is_fraud_merged.apply(to_usd, axis=1)
avg_is_fraud_usd = is_fraud_merged['in_usd'].mean()
avg_isnt_fraud_usd

np.float64(459.7826108501773)

In [41]:
avg_isnt_fraud_usd_std = is_fraud_merged['in_usd'].std()
avg_isnt_fraud_usd_std

np.float64(1349.882692206744)

Свободное исследование

In [65]:
country_vendor_fraud = is_fraud_df.groupby(['vendor_type','country']).agg(
    count_transactions = pd.NamedAgg(column='transaction_id', aggfunc='count'),
    total_amount=pd.NamedAgg(column='amount', aggfunc='sum'),
    avg_amount=pd.NamedAgg(column='amount', aggfunc='mean')
)

country_vendor_fraud

                       count_transactions  total_amount    avg_amount
vendor_type country
airlines    Australia                1172  5.954862e+06   5080.940444
            Brazil                   9343  1.677913e+08  17959.038736
            Canada                   1170  5.218128e+06   4459.938043
            France                   1206  3.778138e+06   3132.784187
            Germany                  1225  3.691264e+06   3013.276727
...                                   ...           ...           ...
transport   Nigeria                  9418  8.088503e+08  85883.451414
            Russia                   9486  1.495193e+08  15762.102686
            Singapore                1179  3.272085e+05    277.530517
            UK                       1151  1.736271e+05    150.848923
            USA                      1216  2.659267e+05    218.689729

[204 rows x 3 columns]